/* HTML5 Boilerplate  */

@import url('libs/960_12_col.min.css');

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/*
 * Typography
 */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: .875em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/*
 * Layout Reset
 */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/*
 * Primary Styles: Layout
*/

body {
  background: url('../img/bg-pixelated.jpg') repeat
}

#upper-wrap { /* TODO: Remove temp overflow and height properties */
  background: url('../img/sprite-home-ui.png') repeat-x;
  height:693px;
  overflow: hidden
}

#top-bar {
  width: 960px;
  height: 125px;
  overflow: visible;
  margin: 0 auto;
  position: relative;
}

#logo357 {
  margin: 22px 0;
  float: left
}

#thinknovo .slogan {
  height: 125px;
  float: left;
  clear: right;
  margin-left: 8px;
  padding-left: 24px;
}

.slogan span {
  line-height: 125px;
}

#clogin {
  float: right;
  clear: right;
  line-height: 125px
}

nav#primary {
  width: 694px;
  height: 52px;
  background: url('../img/element-primary-nav.png');
  position: absolute;
  z-index: 8000;
  bottom: -26px;
  left: 50%;
  margin-left: -347px
}

#teaser {
  height: 366px;
  width: 100%;
}

#sub-teaser {
  height: 200px
}

.info_box {
  position: relative;
  height: 180px
}

.info_box a:hover {
  cursor: pointer
}

.info_box .icon {
  margin: 0;
  padding: 0;
}

.learnmore {
  position: absolute;
  bottom: 2px; right: 4px
}

#inthenews {
  background: url('../img/pane-news.png');
  width: 960px;
  height: 379px;
  margin: 0 auto 12px;
}

footer#lower-bar {
  width: 100%;
  height: 165px;
  background: url('../img/sprite-home-ui.png') 0 -693px;
}

#reasons {
  width: 100%;
  height: 194px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center
}

#reasons li {
  float: left;
  width: 235px;
  margin: 0;
  padding: 0;
}

#reasons .grid_3 {
  text-align: center;
  position: relative
}

#reasons .icon {
  height: 148px;
  text-align: center;
}

.icon img {
  background: url('../img/sprite-reasons.png');
  position: absolute;
  bottom: 42px;
  left: 50%;
}

img#array { background-position: 0px 0px; margin-left: -109px }  
img#server { background-position: 0px -94px; margin-left: -49.5px }
img#proc { background-position: 0px -233px; margin-left: -70px }
img#laptop { background-position: 0px -355px; margin-left: -74px }

#ncontent header {
  height: 80px;
  overflow: hidden;
  margin-top: 24px
}

/*
 * Primary Styles: Buttons and Elements
 */
 .bttn-green {
   background: url('../img/sprite-bttns.png');
   width: 220px;
   height: 128px;
   margin-top: 24px;
   
   
 }
 
 .bttn-green:hover {
   background-position: 0 -136px;
 }
 
 div#search {
   margin-top: 52px;
 }
 
 input#s {
   width: 159px;
   padding: 0 8px;
   height: 34px;
   border: none;
   color: #ccc;
   background: url('../img/element-search.png');
   float: left
 }
 
 input#submit {
   background: url('../img/element-search.png') -175px 0;
   width: 32px;
   height: 34px;
   float: left;
 }
 
 input#s:focus {
   outline: none
 }



/*
 * Primary Styles: Navigation
 */
 
 nav#primary ul {
   width: 410px;
   list-style: none;
   height: 52px;
   margin: 0 auto;
 }
 
 nav#primary ul li {
   float: left;
   padding: 0 16px;
   line-height: 52px
 }
 
/*
* Primary Styles: Typography
*/

body {
  font-family: 'Droid Sans', sans-serif;
}

/* Color helper classes */
.blue { color: #43a5ed }
.grey { color: #686868 }
.black { color: #181818 }
.ngreen { color: #788880 }


#thinknovo .slogan {
  color: #788880;
  font-family: "Georgia", Serif;
  font-size: 1em
}

.headline h2 {
  color: #a5a5a5;
  font-weight: 400;
  text-align: justify;
  text-shadow: 1px 1px 1px #cccccc;
  filter: dropshadow(color=#cccccc, offx=1, offy=1);
}

nav#primary a {
  text-decoration: none;
  color: #989898
}

nav#primary a:hover {
  color: #C46D3B
}

.info_box p {
  text-align: justify;
  padding-top: 14px
}

.info_box a {
  float: right;
  color: #c46d3b
}

a.learnmore {
  text-decoration: none;
  color: #C46D3B
}

a.learnmore:hover {
  color: #181818!important;
}

.learnmore span {
  color: #181818
}
 
#ncontent p {
  text-align: justify
}

#copyr {
  color: #ccc;
  font-size: .875em;
  clear: left
}

#copyr a {
  color: #ccc
}

#copyr a:hover {
  text-decoration: none
}

#right-col {
  line-height: 165px;
}

.bttn-green {
  text-align: center;
  text-decoration: none
}

.bttn-green span {
  font-size: 1.429em;
  color: #efefef;
  text-shadow: 1px 1px 2px #181818;
  filter: dropshadow(color=#181818, offx=1, offy=1);
  line-height: 128px
}

a.newcase {
  text-decoration: none;
  color: #444;
  text-align: center;
  margin-top: 4px
}

a.newcase:hover {
  border-bottom: 1px solid #181818
}

/*
 * Flexslider Styles
 */
 
/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {
    outline: none
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
    width: 100%;
    margin: 0;
    padding: 0;
}

#teaser .slides > li {
    display: none
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
    max-width: 100%;
    display: block;
}

.flex-pauseplay span {
    text-transform: capitalize
}
/* Clearfix for the .slides element */
.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block
}

* html .slides {
    height: 1%
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load 
.no-js .slides > li:first-child {display: block;} */
/* FlexSlider Default Theme
*********************************/
.flexslider {
    background: #fff;
    border: 4px solid #fff;
    position: relative;
    zoom: 1;
}

.flexslider .slides {
    zoom: 1
}

.flexslider .slides > li {
    position: relative
}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {
    zoom: 1;
    position: relative;
}
/* Caption style */
/* IE rgba() hack */
.flex-caption {
    background: none;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
    zoom: 1;
}

.flex-caption {
    width: 96%;
    padding: 2%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}
/* Direction Nav */
.flex-direction-nav li a {
    width: 52px;
    height: 52px;
    margin: -13px 0 0;
    display: block;
    background: url(../img/libs/flexslider/bg_direction_nav.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
}

.flex-direction-nav li .next {
    background-position: -52px 0;
    right: -21px;
}

.flex-direction-nav li .prev {
    left: -20px
}

.flex-direction-nav li .disabled {
    opacity: .3;
    filter: alpha(opacity=30);
    cursor: default;
}
/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -30px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 0 0 5px;
    display: inline-block;
    zoom: 1;
    display: inline;
}

.flex-control-nav li:first-child {
    margin: 0
}

.flex-control-nav li a {
    width: 13px;
    height: 13px;
    display: block;
    background: url(../img/libs/flexslider/bg_control_nav.png) no-repeat 0 0;
    cursor: pointer;
    text-indent: -9999px;
}

.flex-control-nav li a:hover {
    background-position: 0 -13px
}

.flex-control-nav li a.active {
    background-position: 0 -26px;
    cursor: default;
}

#teaser {
    width: 100%;
    height: 366px;
}

#teaser li {
    height: 366px;
    display: block;
}

/* Slides */
#slide1 {
    background: url('../img/slides/slide-home-weare.jpg') center no-repeat;
}

#slide2 {
    background: url('../img/slides/slide-home-incloud.jpg') center;
}

#tease-controls {
    width: 90%;
    height: 20px;
    position: relative;
    bottom: 220px;
    margin: 0 auto;
} 
 
@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
